<div ng-repeat="postedNew in model.news" class="panel panel-default">
    <div class="panel-heading">
        {{postedNew.Name}}
    </div>
    <div class="panel-body">
        <div class="col-md-10">
            {{postedNew.Description | limitTo : 500}}
        </div>
        <div class="col-md-2">
            <button class="btn btn-warning" ng-click="editNew(postedNew)">Edit</button>
            <button class="btn btn-danger" ng-click="deleteNew(postedNew)">Delete</button>
        </div>
    </div>
</div>
<div class="row" ng-if="authentication.isAuth && authentication.userName == 'admin'" ng-init="isCollapsed=true">
    <br>
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
    <hr>
    <div collapse="isCollapsed">
        <div class="well well-lg">
            <form ng-submit="addNew()">
                <p><input class="form-control" ng-model="model.NewName" type="text" required /></p>
                <p><textarea class="form-control" ng-model="model.NewDescription" required></textarea></p>
                <p><input type="submit" class="btn btn-warning" value="Добавить" /></p>
            </form>
        </div>
    </div>
</div>
