<link href="Content/Views/news.css" rel="stylesheet" />
<div class="row">
    <div ng-repeat="postedNew in model.news | filter : searchPattern" class="news-item animate col-md-5 col-xs-12">
        <h2 class="news-title">
            <a href="#news/{{postedNew.NewId}}">{{postedNew.Name}}</a>
        </h2>
        <h4 class="news-short-desk">{{postedNew.ShortDesk}}</h4>
        <p>
            <button ng-if="authentication.isAuth && authentication.userName == 'admin'"
                    class="news-delete-button btn btn-danger" 
                    ng-click="deleteNew(postedNew)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </p>
    </div>
</div>
<div class="row" ng-if="authentication.isAuth && authentication.userName == 'admin'" ng-init="isCollapsed=true">
    <br>
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
    <hr>
    <div collapse="isCollapsed">
        <div class="well well-lg">
            <form ng-submit="addNew()">
                <div class="form-group">
                    <label for="newName">Название</label>
                    <input id="newName" class="form-control" ng-model="model.NewName" type="text" required/>
                </div>
                <div class="form-group">
                    <label for="newShortDesk">Краткое описание</label>
                    <textarea id="newShortDesk" class="form-control" ng-model="model.NewShortDesk" required></textarea>
                </div>
                <div class="form-group">
                    <label for="newDescription">Текст новости</label>
                    <div id="newDescription" text-angular ng-model="model.NewDescription"></div>
                </div>
                <p><input type="submit" class="btn btn-warning" value="Добавить"/>
                </p>
            </form>
        </div>
    </div>
</div>
