<div>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin: auto;">
            <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
    <div class="row" ng-if="authentication.isAuth && authentication.userName == 'admin'">
        <br>
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
        <hr>
        <div collapse="isCollapsed">
            <div class="well well-lg">
                <form>
                    <input class="form-control" type="text" placeholder="Введите текст картинки" ng-model="slide.textForSlide" />
                    <!--<input class="form-control" type="file" ng-click="slider.addImage(this)"/>-->
                    <div class="btn btn-success" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div><br />
                    <p>
                        <button class="btn btn-success" ng-click="uploader.uploadAll()">Загрузить</button>
                        <button class="btn btn-danger" ng-click="uploader.clearQueue ()">Отменить</button>
                    </p>
                    <div ng-if="uploader.isUploading">
                        <progressbar class="progress-striped active" value="progress" max="100" type="warning">{{progress}}%</progressbar>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
        Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
        <br />Enter a negative number or 0 to stop the interval.
    </div>
</div>-->
