<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="market">
<head>
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/loading-bar.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script>
    <script src="Scripts/textAngular-rangy.min.js"></script>
    <script src="Scripts/textAngular-sanitize.min.js"></script>
    <script src="Scripts/textAngular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/factories.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/ng-file-upload-shim.min.js"></script>
    <script src="Scripts/ng-file-upload-all.min.js"></script>
    <script src="js/imageGalery/galery.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/loading-bar.min.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />
    <link href="Content/animations.css" rel="stylesheet" />
    <link href="Content/textAngular.css" rel="stylesheet" />
    <link href="Content/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body ng-controller="IndexController">
    <!--<div class="market-page-header"></div>-->
    <div class="container">
        <slider-ctrl></slider-ctrl>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav"
                ng-init="model.active = 0; model.links = [
                { name: 'Каталог', url: '#/home'},
                { name: 'Новости', url: '#/news'},
                { name: 'Контакты', url: '#/contacts'}]">
                <li ng-class="{'active' : model.active === $index}"
                    ng-repeat="link in model.links"><a href="{{link.url}}" ng-click="model.active = $index">{{link.name}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
                <li data-ng-hide="!authentication.isAuth"><a href="javascript:void()">Welcome {{authentication.userName}}</a></li>
                <li data-ng-hide="!authentication.isAuth"><a href="javascript:void()" data-ng-click="logOut()">Logout</a></li>
                <!--<li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>-->
            </ul>
            <input type="text" class="navbar-form navbar-right form-control" placeholder="поиск..." style="margin-right: 10px;"
                   ng-model="searchPattern">
        </nav>
    </div>
    <div class="container">
        <ng-view></ng-view>
    </div>
    <footer>
        <div class="container"></div>
    </footer>
</body>
</html>
